<!-- views/edit-post.ejs -->
<%- include("partials/header.ejs") %>


<form action="/posts/<%= post.id %>" method="POST">
  <div class="edit">
    <input type="text" name="title" value="<%= post.title %>" required />
    <textarea name="content" required><%= post.content %></textarea>
    <button type="submit">Update Post</button>
  </div>
</form>
<%- include("partials/footer.ejs") %>
