<!-- views/index.ejs -->
<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/css/styles.css" />
<div class="index">
  <h1>Blog Posts</h1>
  <button><a href="/posts/new">Create New Post</a></button>
  <ul>
    <% posts.forEach((post, index) => { %>
    <li>
      <h2><%= post.title %></h2>
      <p><%= post.content %></p>
      <button><a href="/posts/<%= index %>/edit">Edit</a></button>
      <form action="/posts/<%= index %>" method="POST" style="display: inline">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit">Delete</button>
      </form>
    </li>
    <% }) %>
  </ul>
</div>
<%- include("partials/footer.ejs") %>
